:root {
    --background: #f4f4f4;
    --white: #ffffff;
    --gray: #d3d3d3;
    --gray-light: #e6e7e6;
    --gray-dark: #696969;
    --text: #2b2f33;
    --text-dark: #72808d;
    --error: #e65c5c;
    --border-shadow: rgba(43, 47, 51, 0.15);
}
