@import 'tailwindcss/base';
@import 'settings/colors.pcss';
@import 'settings/fonts.pcss';

@import 'elements/html.pcss';
@import 'elements/body.pcss';
@import 'elements/typography.pcss';

@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
